*{
    box-sizing: border-box;
    text-decoration: none;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; 
    margin-left: 0%;   
}
nav{
    background-color: #674582;
    align-items: center;        
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
}
.navegação{
display: flex;
width: 90%;
justify-content: space-around;
}
.logos{
display: none;
}
.navegacao_logo{
width:45%;   
}
ul{
   display: none;
}
.navegacao_menu{
 background-color: #c083b9;
 border-radius: 5px;
 margin-left: -64px;
 margin-right: 5%;
}
.header{
background-image:  url(../img/banner-claro.png); 
background-position:40%;
background-repeat:no-repeat;
background-size:cover; 
width: 100%;
height: 70vh;

display: flex;
align-items: center;
}
.titulo_banner{
text-transform: uppercase;
Font-Family: Montserrat;
Font-Style: ExtraBold;
Font-Size: 5vw;
color: #FFFFFF;
text-Align:Left;
margin: 4%;
/* margin-top: -240px; */
/* margin-left: 30px; */
}
.subtitulo_banner{
Font-Family: Montserrat;
Font-Style: ExtraBold;
Font-Size: 4vw;
color: #FFFFFF;
text-Align:Left;
margin: 5%;

}
.btn-banner{
    border-radius: 5px;
    background-color: #C083B9;
    color: #FFFFFF;
    padding: 7px;
    margin-left: 30px;
}
.titulo_secao{
color: #63458A;
Font-Style: Bold;
Font-Size: 18px;
Line-Height: 47px;
text-align: Center;
border-left-width: 1px;
line-height:18px;
}
.mulheres{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    margin-top: -20px;
    margin:10px;

    }
.imagem_mulheres img{
    width: 100%;
    background-color: #63458A;
    border-radius: 10px;
    object-fit: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    margin-top: -20px;
}
.tudao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-right: 5%;
    
}
.imagem_mulheres{
    width: 30%;
    margin: 10px;
}

footer{
    background-color: #323534;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    width: 100%;
    height: 50%;
    color: #FFFFFF;
    object-fit: contain;
}
.rodape{
    list-style: none;
    color: #FFFFFF;
    font-size: 120%;
    margin: 10% 0;
    width: 100%;
    display: flex;
    height: 59px;
    align-items: center;
    text-align: center;
}
 .rodape_logo{
    width: 37%;
    color: #FFFFFF;
}
.home_rodape{
    color: #ffffff;
    text-align: center;
    width: 13%;
    
}
.conheca_rodape{
    color: #ffffff;
    text-align: center;
    width: 13%;
    
}
.rodape_link{
    color: #ffffff;
    text-align: center;
    width: 13%;
}

@media (min-width: 768px) {
    .navegacao_menu{
        display: none;
    }
    .navegacao_logo{
        margin-right: 45px;
        margin-left: -12%;
        width: 35%;
        top: 2px;
        
    }
    ul{    
       
        display: flex;
        position: fixed;
        Font-Family: Montserrat;
        Font-Style: ExtraBold;
        Font-Size: 2vw;
        color: #FFFFFF;
        text-Align: Left;
        margin-top: -5%;
        margin-left: 13%;
        width: 35%;
        font-size: 2vw;
        padding: -12%;
        justify-content: flex-start;
    }
    li{
        margin: %;
        width: 46%;
    }
    .logos{   
        display: flex;
        position: relative;
        margin-top: -9%;
        margin-left: 80%;
        align-items: flex-end;
        justify-content: space-around;
    }
    .logos > img{
        margin: 5%;
    }
}

