*{
    box-sizing: border-box;
    text-decoration: none;
}
body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif; 
    margin-left: 0%;   
}
nav{
    position: fixed;
    background-color: #674582;
    align-items: center;        
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    position: absolute;
    font-size: 18px;
    color: #FFFFFF;
}
.navegação{
display: flex;
width: 90%;
justify-content: space-around;

}
.logos{
display: none;
}
.navegacao_logo img{
width:45%;   
}
ul{
   display: none;
}
.navegacao_menu{
 background-color: #c083b9;
 border-radius: 5px;
 margin-left: -64px;
 margin-right: 5%;
}
.header{
background-image:  url(../img/banner-claro.png); 
background-position:40%;
background-repeat:no-repeat;
background-size:cover; 
width: 100%;
height: 70vh;

display: flex;
align-items: center;
}
.titulo_banner{
text-transform: uppercase;
Font-Family: Montserrat;
Font-Style: ExtraBold;
Font-Size: 5vw;
color: #FFFFFF;
text-Align:Left;
margin: 4%;
/* margin-top: -240px; */
/* margin-left: 30px; */
}
.subtitulo_banner{
Font-Family: Montserrat;
Font-Style: ExtraBold;
Font-Size: 4vw;
color: #FFFFFF;
text-Align:Left;
margin: 5%;

}
.btn-banner{
    border-radius: 5px;
    background-color: #C083B9;
    color: #FFFFFF;
    padding: 7px;
    margin-left: 30px;
}
.titulo_secao{
color: #63458A;
Font-Style: Bold;
Font-Size: 18px;
Line-Height: 47px;
text-align: Center;
border-left-width: 1px;
line-height:18px;
}
.mulheres{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    margin-top: -20px;
    margin:10px;

    }
.imagem_mulheres img{
    width: 100%;
    background-color: #63458A;
    border-radius: 10px;
    object-fit: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    margin-top: -20px;
}
.tudao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-right: 5%;
    
}
.imagem_mulheres{
    width: 30%;
    margin: 10px;
}

footer{
    background-color: #323534;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    flex-direction: column;
   
}
.rodape{
    list-style: none;
    color: #FFFFFF;
    font-size: 14px;    
    width: 60%;
    display: flex;
    height: 59px;
    align-items: center;
    text-align: center;
    line-height: 5px;
    margin-left: 34px;
}
 .rodape a{
    width: 15%;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    font-size: 11px;
    margin: 13px;
 }
 .rodape_logo{    
    width: 100px;
    height: 30px;
    margin-right: 5px;
 }
 .rodape_face{
    width: 42px;
    height: 45px;
    padding: 4px;
 }
 .rodape_face img{
    
 }
 .footer_face{
     display: flex;
     justify-content: center;
     align-items: center;
    width: 42px;
    height: 45px;
    padding: 4px;

 }
 .rodape_link{
    font-size: 10px;
     color: #ffffff;
 }

/* }
.home_rodape{
    color: #ffffff;
    text-align: center;
    width: 13%;
    
}
.conheca_rodape{
    color: #ffffff;
    text-align: center;
    width: 13%;
    
}
.rodape_link{
    color: #ffffff;
    text-align: center;
    width: 13%;
} */
@media (min-width: 768px) {
    .navegacao_logo img {
        width: 495%;
    }
    .navegacao_menu{
        
     border-radius: 5px;
     margin-left: 421px;
     WIDTH: 30px;
     margin-right: 5%;
    }
    .menu{
        width: 50%;
    }

    .navegacao_logo{
        width: 33px;
        border-radius: 4px;
    }
    .navegacao_logo img{
        width: 495%;
        margin-left: -254%;
    }
    .titulo_banner{
        font-size: 24px;
    }
    .subtitulo_banner{
        font-size: 22px;
    }
    .btn-banner{
        width: 60%;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        margin: 0 70px 0 100px;
    }    
.rodape{
       margin-left: 254px;
}

}


@media (min-width: 1024px) {
    .navegação{
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: left;
    }
    .navegacao_menu{
        display: none;
    }
    .navegacao_logo{
        display: flex;
        width: 159px;
        height: 50px;
        margin-left: 0;  
    }
    .navegacao_logo img{
        display: flex;
        width: 159px;
        height: 50px;
        margin-left: 37px;
    }
    ul{           
        display: flex;        
    }
    .navegacao_lista a{
        margin: 28px;
        
        
        text-decoration: none;
        color: #ffffff;
    }   
    .logos{   
        display: flex; 
        width: 30%;      
    }
    .logos > img{
        margin: -4%;
        margin-left: 12%;
    }
    .navegacao_lista li{
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        width: 25%;
        text-transform: uppercase;   
    }
    .navegacao_lista{
        width: 1143px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: -7px;
        margin-left: 163px;
    }
    .titulo_banner{
        font-size: 24px;
    }
    .subtitulo_banner{
        font-size: 24px;
    }
    .btn-banner{
        width: 60%;
        padding-top: 17px;
        padding-right: 7px;
        padding-bottom: 16px;
        padding-left: 7px;
        margin: 0 70px 0 100px;
    }
    Footer{

        flex-direction: none;
        background-color: #323534;
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 0;
    }
    .rodape{
        width: 35%;
    }
}

